/*
	Protomenu
	Carsten Ruppert - 2018-11-29

	Desktop-Theme
*/
.ptmenu{
	font-size: 1rem;
	// -- Das markieren von Text im Menü verhindern:
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}

.ptmenu .nav-wrapper {
	position: relative;
	z-index: 110; // Optional erhöhen, falls ein anderes Stylesheet den z-index verseucht. Wenn das dann auch nicht klappt, musst du dein Stylesheet korrigieren.
}

/* --------------------------------------------------------------------------------

 	Menüsinträge

-------------------------------------------------------------------------------- */

// -- Ein Menüeintrag
.ptmenu ul li {

	// Ein Anker
	a.nav-item {
		display: flex;
		flex-wrap: nowrap;

		padding: 0.6em 1em 0.6em 1em;

		font-size: inherit;
		font-family: $font-family-sans-serif;
		color: $gray-600;
		font-weight: normal;
		text-decoration: none;

		&[tabindex="0"]{ cursor: default; } // Wenn kein href Attribut vorhanden ist (z.B.: <a tabindex="0" class="nav-item">Foo</a>)
	}

	// Aktiver Menüeintrag
	&.active > .nav-item,
	&.alias-parent-active > .nav-item {
		background-color: transparent;
		color: $primary;
	}

	// Geöffnet, Angetippt und Hover
	.nav-item:active, 		// Touch; Mit dem Finger angetippt. Bleibt nicht aktiv, „blitzt” nur kurz auf.
	.nav-item.open,			// Hat ein Untermenü geöffnet, bleibt aktiv.
	&.open > .nav-item,
	&:hover > .nav-item,
	&:hover > .ptmenu-item-custom > .nav-item
	{
		background-color: $primary;
		color: #ffffff;
	}
}


// -- Das erste <ul>. Menüeinträge horizontal darstellen.
.ptmenu ul.nav-first {
	display: flex;
	justify-content: flex-end; // Menüeinträge rechtsbündig ausrichten.
	flex-wrap: wrap; // Umbrechen falls erforderlich.
}


// -- Ein Menüeintrag in der ersten Ebene
.ptmenu ul.nav-first > li {}


// -- Bild im Menüeintrag (<div>)
.ptmenu .nav-item .item-image {
	img{max-width: 100%;}
}


// -- Beschreibung im Menüeintrag (ein Freier Text, der im Menüeintrag eingegeben werden kann)
.ptmenu .nav-item .item-description {}


// -- Joomla Item-Typ: Menüüberschrift (<span>)
.ptmenu .nav-item.nav-header {}


// -- Joomla Item-Typ: Trennzeichen (<span>)
.ptmenu .seperator {}


// -- Module (Wrapper) (<div>)
.ptmenu .ptmenu-item-modules {}


// -- Code (HTML und „Weiterlesen-Text”) (<div>)
.ptmenu .ptmenu-item-custom {}




/* --------------------------------------------------------------------------------

 	Pfeile – Wenn etwas aufgeklappt werden kann.

-------------------------------------------------------------------------------- */

// -- Pfeil:
.ptmenu ul li.deeper i.item-arrow {
	font-style: normal; // !

	display: inline-block;
	position: relative;
	margin-left: 0.2em;
	width: 0.7em;
	height: 0.7em;

	&:before {
		@extend .fa;
		content: '#{$fa-var-chevron-right}';

		position: absolute;
		top: 0.525em;
		left: 0.2em;

		font-size: 0.7em;
		line-height: 0;

		-webkit-transition: transform 0.25s ease;
				transition: transform 0.25s ease;
	}
}


// -- Pfeil in der ersten Ebene:
.ptmenu ul.nav-first > li.deeper {
	> .ptmenu-item-custom > .nav-item i.item-arrow:before,
	> .nav-item i.item-arrow:before{
		content: '#{$fa-var-chevron-down}';
	}
	
	&.open > .nav-item i.item-arrow:before, // MouseOver
	> .nav-item.open i.item-arrow::before   // Klick
	{
		transform: rotate3d(1,0,0,-180deg);
	}
	
}




/* --------------------------------------------------------------------------------

 	Submenus / Untermenüs

-------------------------------------------------------------------------------- */


// -- Alle Untermenüs
.ptmenu .nav-child{
	background-color: #21444b;
	min-width: 100%; 
	a {
		border-bottom: 1px solid #31565e;
	}
}

// -- Mega-Untermenü
.ptmenu li.mega > .nav-child {
	background-color: transparentize(#21444b, 5%);
	border-bottom: 1px solid #183439;

	padding-top: 20px;
	padding-bottom: 20px;
}

.ptmenu .nav-child li {
	.nav-item {
		color: #ffffff;
	}
	.item-label {
		font-weight: 400;
	}
	&:hover > .nav-item{
		color: #ffffff;
		background-color: lighten($secondary, 10%);
	}
	&.current.active > .nav-item {
		color: #ffffff;
		background-color: $primary;
	}
}


// -- Sensoplast Megamenü
.ptmenu .mega > .nav-child.in {
	padding-top: 20px;
	padding-bottom: 20px;
}


.ptmenu .mega .nav-child.nav-level-3 {
	height: 100%;
	background-color: $secondary;
	.nav-child {
		background: transparent;
	}
}
.ptmenu .mega .nav-child.nav-level-3 a {
	background-color: none;
}
.ptmenu .mega .nav-sub.nav-level-3 > li {
	> a {
		background-color: #183439;
		border-bottom: 1px solid #31565e;
	}
	&:hover > a {
		background-color: $primary;
		border-bottom-color: darken($primary, 15%);
	}
}



/* --------------------------------------------------------------------------------

	Submenus / Untermenüs Positionieren
	
	Hier sind keinerlei Änderungen nötig.


	<li data-ptm-item="ModulId-Itemid" class="item-Itemid deeper parent [current active]">
		<a|span|...>
		<div class="nav-child nav-level-N" data-ptm-child="ModulId-ItemId" data-ptm-level="N” [data-ptm-static-child]>

-------------------------------------------------------------------------------- */

// -- Untermenüs Positionieren – Verhalten „Dropdown”
[data-ptm-item].deeper:not(.mega) {

	// Untermenüs richten sich am <li> aus:
	position: relative;

	// Ab der 2. Menüebene – die Erste, die aufklappen kann – von Oben nach Unten ausrichten.
	> [data-ptm-child]:not([data-ptm-static-child]) 
	{
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 0;
	}
	// Von Unten nach Oben (bottom-to-top: „btt”) ausrichten:
	&.btt > [data-ptm-child]:not([data-ptm-static-child]) 
	{
		top: auto;
		bottom: 100%;
	}


	// Ab der dritten Ebene von Links nach Rechts ausrichten:
	> [data-ptm-child] [data-ptm-child]:not([data-ptm-static-child]) 
	{
		top: 0;
		left: 100%;
	}
	// Oder von Rechts nach Links (right-to-left: „rtl”) ausrichten:
	> [data-ptm-child] [data-ptm-item].deeper.rtl > 
		[data-ptm-child]:not([data-ptm-static-child]) 
	{
		left: auto;
		right: 100%;
	}

	// Von Unten nach Oben (bottom-to-top: „btt”) ausrichten:
	> [data-ptm-child] [data-ptm-item].deeper.btt > 
		[data-ptm-child]:not([data-ptm-static-child]) 
	{
		top: auto;
		bottom: 0;
	}
}

// -- Untermenüs Positionieren – Verhalten „Mega Menü”
[data-ptm-item].deeper.mega {

	// Durch die Position static an <li class="deeper mega ..."> richtet sich das .nav-child automatisch am nächst Höheren Element mit Position relative oder absolute aus. In diesem Fall ist das: div.nav-wrapper
	position: static;

	// ... Dies betrifft aber nur die nächste Kindebene, die von oben nach unten aufklappen soll.
	> [data-ptm-child]:not([data-ptm-static-child]) {
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 0;
	}

	// ... Ab der dritten Ebene soll wie gehabt von links nach Rechts aufgeklappt werden.
	> [data-ptm-child] [data-ptm-child]:not([data-ptm-static-child]) {
		top: 0;
		left: 100%;
	}
}



/* --------------------------------------------------------------------------------

	Submenus / Untermenüs Ein- und Ausblenden
	 
	Hier sind keinerlei Änderungen nötig, es sei denn der Einblendeeffekt soll geändert werden. 
	

	<li data-ptm-item="ModulId-Itemid" class="item-Itemid deeper parent [current active]">
		<a|span|...>
		<div class="nav-child nav-level-N" data-ptm-child="ModulId-ItemId" data-ptm-level="N" [data-ptm-static-child]>

-------------------------------------------------------------------------------- */

[data-ptm-item].deeper {
	//
	// Standard-Dropdown
	//
	> [data-ptm-child]:not([data-ptm-static-child]) 
	{
		visibility: hidden;
		opacity: 0;

		-webkit-transform: scale3d(0.95,0.95,0.95);
				transform: scale3d(0.95,0.95,0.95);

		-webkit-transition:		-webkit-transform 0.3s cubic-bezier(.54,.39,0,1.02), 
								opacity 0.3s cubic-bezier(.54,.39,0,1.02), 
								visibility 0s 0.3s linear;
				transition:		transform 0.3s cubic-bezier(.54,.39,0,1.02), 
								opacity 0.3s cubic-bezier(.54,.39,0,1.02), 
								visibility 0s 0.3s linear;
	}

	//
	// Mega-Dropdown
	// Hier soll kein Skalierungseffekt (scale3d) benutzt werden, weil das bei einem Element mit 100% Breite nicht gut aussieht.
	//
	&.mega > [data-ptm-child]:not([data-ptm-static-child]) 
	{
		-webkit-transform: translateZ(0); // Rendern durch GPU erzwingen
				transform: translateZ(0);

		-webkit-transition: 	opacity 0.3s cubic-bezier(.54,.39,0,1.02), 
								visibility 0s 0.3s linear;
				transition: 	opacity 0.3s cubic-bezier(.54,.39,0,1.02), 
								visibility 0s 0.3s linear;
	}

	//
	// Auslösen
	//
	> [data-ptm-child].open
	{
		z-index: 10;
		visibility: visible;
		opacity: 1;
	}

	// Nicht Mega
	> [data-ptm-child].open
	{
		-webkit-transform: scale3d(1,1,1);
				transform: scale3d(1,1,1);

		-webkit-transition:		-webkit-transform 0.2s cubic-bezier(.54,.39,0,1.02), 
								opacity 0.3s ease, 
								visibility 0s 0s linear;
				transition:		transform 0.2s cubic-bezier(.54,.39,0,1.02), 
								opacity 0.3s ease, 
								visibility 0s 0s linear;
	}

	// Mega
	&.mega > [data-ptm-child].open
	{
		-webkit-transition:		opacity 0.3s ease, 
								visibility 0s 0s linear;
				transition:		opacity 0.3s ease, 
								visibility 0s 0s linear;
	}
}




/* --------------------------------------------------------------------------------

	Listen- und Grid-Fix
	 
	Das soll nicht bearbeitet werden! Es sei denn, du musst.
	 
-------------------------------------------------------------------------------- */

.ptmenu ul.nav-first,
.ptmenu ul.nav-sub {
	list-style-type: none;
	&, li{
		margin: 0; padding: 0;
	}
}
.ptmenu ul.row{
	margin: 0 -($grid-gutter-width / 2);
}
.ptmenu ul.nav-first li[class*=col],
.ptmenu ul.nav-sub li[class*=col]{
	padding: 0 $grid-gutter-width / 2;
}


/* --------------------------------------------------------------------------------

	Keine Outlines für Hyperlinks
	 	 
-------------------------------------------------------------------------------- */

.ptmenu li a.nav-item{ 
	&:hover, &:focus, &:active{
		outline: none !important;
	}
}